[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cython = "*"
pycapnp = ">=1.2.1"
pytest = "*"
pygtail = "*"

[dev-packages]
flit = "*"

[requires]
python_version = ">=3.7"
